# ============================================================
# Build artifacts & Dependencies
# ============================================================
target/
.mvn/wrapper/maven-wrapper.jar

# ============================================================
# IDEs specific files
# ============================================================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# ============================================================
# Environment variables & Sensitive data
# ============================================================
.env
application.properties.example

# ============================================================
# Log files
# ============================================================
logs/
*.log

# ============================================================
# Operating System files
# ============================================================
.DS_Store
Thumbs.db
